<h1>Add course</h1>

<form action="/add" method="post">

    <div class="input-field">
          <input placeholder="Course title" id="title" name="title" type="text" class="validate" required>
          <label for="title">Course title:</label>
          <span class="helper-text" data-error="Add course title"></span>
    </div>

    <div class="input-field">
          <input placeholder="Course price" id="price" name="price" type="number" class="validate" required min="1">
          <label for="price">Course price:</label>
          <span class="helper-text" data-error="Add course price"></span>
    </div>

    <div class="input-field">
          <input placeholder="URL of image" id="img" name="img" type="text" class="validate" required>
          <label for="price">Course image:</label>
          <span class="helper-text" data-error="Add course image URL"></span>
    </div>

    <button class="btn btn-primary">Add course</button>
    
</form>